html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.home {
  text-align: center;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 1200px; 
  overflow-x: hidden;
  box-sizing: border-box;
}

.featured-image-container {
  width: 100%;
  height: 500px; 
  margin-bottom: 1rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.featured-recipes {
  padding: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}

.recipe-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
}

.recipe-card {
  background-color: #fff;
  border-radius: 8px;
  margin: 10px;
  padding: 10px;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-image {
  width: 100%;
  border-radius: 8px;
}