.recipe-page-container {
    display: flex;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .filter-section {
    width: 250px;
    padding-right: 20px;
    border-right: 1px solid #ccc;
  }
  
  .filter-section h2 {
    margin-top: 0;
  }
  
  .filter-section input,
  .filter-section button {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
  }
  
  .filter-section button {
    background-color: #ff6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    transition: background-color 0.3s;
  }
  
  .filter-section button:hover {
    background-color: #040f04;
  }
  
  .main-content {
    flex-grow: 1;
    padding-left: 20px;
  }
  
  .recipe-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 70px;
  }
  
  @media (max-width: 1200px) {
    .recipe-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .recipe-page-container {
      flex-direction: column;
    }
  
    .filter-section {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #ccc;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }
  
    .main-content {
      padding-left: 0;
    }
  
    .recipe-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .recipe-list {
      grid-template-columns: 1fr;
    }
  }
    
    .pagination {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      padding-bottom: 30px;
    }
    
    .pagination button {
      background-color: #FF6600;
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 0 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s;
    }
    
    .pagination button:hover {
      background-color: #040f04;
    }
    
    .pagination button:disabled {
      background-color: #cccccc;
      cursor: not-allowed;
    }
    
    .pagination span {
      font-size: 16px;
      margin: 0 10px;
    }
    
  
    .loading, .error {
      text-align: center;
      font-size: 18px;
      margin-top: 50px;
    }
    
    .error {
      color: #ff0000;
    }
