.recipelist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.card {
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    height: auto;
    margin-bottom: 20px;
    max-width: calc(33.333% - 2rem);
    border: 1px solid #ddd;
}

.card:hover {
    transform: scale(1.03);
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card-body {
    padding: 16px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-country {
    font-size: 0.875rem;
    font-weight: bold;
}

.btn {
    background-color: #E17D07;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #f78504;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

.bookmark-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    right: 0;
    margin: 1rem;
    transition: 0.2s;
    cursor: pointer;
    color: #fff;
    margin-top: 0px;
}