.recipe-container{
    background-color: #002147;
    border: 10px;
    border-top: #E17D07;
    border-bottom: #E17D07;
}

.heading{
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}