.recipelist-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
}

.card {
    width: 300px;
    height: auto;
    flex: 1 1 calc(33.333% - 2rem);
    max-width: calc(33.333% - 2rem);
    box-sizing: border-box;
    margin-bottom: 15px;
    background-color: #D9D9D9;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card:hover {
    transform: scale(1.03);
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-description {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.card-country {
    font-size: 0.875rem;
    font-weight: bold;
}

.btn {
    background-color: #E17D07;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #f78504;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 2rem);
        max-width: calc(50% - 2rem);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 100%;
        max-width: 100%;
    }
}