.search-recipe {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.search {
    width: 100%;
    max-width: 600px;
    height: 45px;
    border: none;
    border-radius: 15px;
    border: 1px solid #ff6347;
    padding: 0 15px;
    box-sizing: border-box;
}

.fa{
    position: absolute;
}