.header {
  background-color: #002147;
  padding: 1rem 0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ffa500;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.nav-link {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
}

.auth-links {
  display: flex;
  align-items: center;
}

.auth-links a {
  color: #fff;
  margin: 0 0.5rem;
  text-decoration: none;
}
