.top-recipe {
  margin-bottom: 40px;
}

.top-recipe h2 {
  text-align: center;
  margin-bottom: 20px;
}

.recipe-details {
  display: flex;
  justify-content: center; 
  align-items: center;
}

.recipe-details img.recipe-image {
  width: 390px; 
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin-right: 20px; 
}

.recipe-info {
  max-width: 500px;
  padding: 20px;
  text-align: center; 
}

.recipe-info h3 {
  margin-bottom: 10px;
}

.recipe-info p {
  text-align: justify; 
}
